* {
    margin: 0;
    padding: 0;
    font-family: Poppins, serif;
    box-sizing: border-box;
}

img {
    pointer-events: none;
}

nav {
    margin: 30px 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-items {
    font-size: 20px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
}

.active-item {
    color: #FE5E35;
    font-weight: bold;
}

.nav-item,
button,
.dot {
    cursor: pointer;
}

.nav-item:hover {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
}

nav>img:first-child {
    width: 100px;
    margin-bottom: 10px;
}

.intro-section {
    margin: 20px 50px;
    display: flex;
    justify-content: space-between;
}

.left-section {
    margin-top: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-section>h3 {
    font-family: Poppins;
    font-weight: 300;
    font-size: 35px;
}

.left-section>h1 {
    font-family: "Fredoka One", sans-serif;
    font-weight: 900;
    font-size: 60px;
}

.sub-headlines {
    padding-left: 50px;
}

.sub-headline {
    padding: 20px;
    font-size: 25px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.sub-headline>img {
    padding: 5px;
    background-color: #FE5E35;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
}

.headphone-div>img:last-child {
    width: 100%;
    object-fit: cover
}

.headphone-div>img:first-child {
    position: absolute;
    width: 160px;
    top: 50%;
    left: 0%;
}

.discount-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.discount-content {
    position: absolute;
    top: 55%;
    left: 5%;
    color: white;
}

.discount-content:hover,
button:hover {
    color: rgb(51, 51, 51);
}

.discount-content>h1 {
    font-size: 50px;
    line-height: 1.2;
}

p {
    color: rgb(109, 109, 109);
}

.action-btn {
    margin: 10px 20px;
    color: white;
    padding: 10px 25px;
    background-color: #FE5E35;
    border: none;
    border-radius: 50px;
    font-size: 16px;
}

.dots {
    margin: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.dot::after {
    content: "";
    padding: 5px 15px;
    border-radius: 50%;
}

.yellow-dot::after {
    background-color: yellow;
}

.tomato-dot::after {
    background-color: #FE5E35;
}

.black-dot::after {
    background-color: black;
}

@media (max-width:768px) {
    .intro-section {
        flex-direction: column-reverse;
        margin: 20px 10px;
    }
    .left-section,
    .right-section {
        margin-top: 20px;
        width: 100%;
        align-items: center;
    }
}

@media (max-width:480px) {
    nav {
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    nav>img:last-child {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    .intro-section {
        padding: 10px;
        flex-direction: column-reverse;
    }
    .left-section,
    .right-section {
        width: 100%;
        align-items: center;
    }
    .headphone-div>img:first-child {
        width: 100px;
        top: 20%
    }
    .discount-content {
        top: 25%
    }
    .discount-content>h4 {
        font-size: 16px;
    }
    .discount-content>h1 {
        font-size: 25px;
    }
    .sub-headlines {
        padding-left: 0px;
    }
}